*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --bg-main: #000;
  --color-main: #fff;
}

.body{
  background-color: var(--bg-main);
  color: var(--color-main);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/* header */
.header{
  background-color: rebeccapurple;
  padding: 10px 10px;
}

.menu{
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.btnCrearTarea{
  background-color: transparent;
  border: none;
  color: var(--color-main);
  cursor: pointer;
  border: 1px solid var(--color-main);
  padding: 5px 10px;
  border-radius: 5px;
}

header > nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li > a {
  color: var(--color-main);
  text-decoration: none;
}



/* main */
.main{
  background-color: red;
  flex-grow: 1;
}

/*MODAL-01*/

.modal-01{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.288);
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out all;
}

.modal-01-container{
  background-color: var(--bg-main);
  padding: 20px;
  border-radius: 5px;
}

.input-01-tarea{
  all: unset;
  background-color: #fff;
  color: #000;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.modalOn{
  display: flex;
}
/* CARDS*/

.container-cards{
  background-color: lightblue;
  width: 100%;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card{
  position: relative;
  background-color: #111;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 150px;

  transition: 0.2s ease;
}

.card:hover{
  transform: translate3d(-5px, -5px, 0px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  border-color: #555;
}

/* footer */
.footer{
  background-color: green;
}