* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.6;
  padding: 20px;
}

.card {
  border: 1px solid #818181;
  padding: 1rem;
  margin: 20px 0;
}
